# Theory question

q.no. 1) What are data structures, and why are they important ?

        -> Python allows us to store all the data in our data structures. We can modify or store this data in the computer's memory. This is important because it helps me with algorithms and complex programs, also allow us to manage data in a way that makes senseable

 q.no.2)Explain the difference between mutable and immutable data types with examples?

      -> In python have  mutable and immutable are both data types. Both of them store data but there is a difference between them.
      immutable: We cannot modify the data stored in it even after its creation, ex- string, tuple.
       mutable: We can modify its data even after its creation, ex- list,dictinary

q.no.3) What are the main differences between lists and tuples in Python ?

         -> list: list python stores my data we can store this data in one place it stores data of different data types every data is given a different index number the list is mutable syntex-[]
         tuple: it also stores different types of data but it is immutable their size is fixed, Python can optimize their storage and access syntex-()

q.no.4) Describe how dictionaries store data ?

        -> genrally dic() (built-in data structur) are store the data in form of key:value ,
        Key: A unique identifier that you use to look up or access a corresponding value. Keys must be immutable
        Value: The actual data associated with a key. Values can be of any data type, including other dictionaries, lists, or custom objects, and they can be duplicated.

q.no.5) Why might you use a set instead of a list in Python?

        -> The main reasons is use the set instead of a list when we store uniqe data
         sets are Automatically ensure that all elements are unique, if store the duplicats sets are ignore these values. but List Allow duplicate elements.
         when we work methematics on data set Provide built-in methods for common mathematical set operations like union, intersection, difference, and symmetric difference, which are very efficient, List Do not have direct equivalents for these operations, and you would have to implement them manually, which would be less efficient and more verbose.

q.no.6)What is a string in Python, and how is it different from a list?

        ->In python string is a seqence of charecters it is an immutable data type that means if a string a create once its content cannot be change , in string data store in odered and its difines by (""),("""..."""),('..')
        this diffrent from list because list are mutable  this contain diffrent item of diffrent data type eg-int,float,string

q.no.7) How do tuples ensure data integrity in Python?

        -> tuples are ensure the data integrity by its immutiblity ,  means once its creation data arenot change , add, modify or removed
        immutiblity are provide thats benefits . in
        tuple data are not change so in future user are access that tuple data are provide as it is .

q.no.8) What is a hash table, and how does it relate to dictionaries in Python?

        -> hash table is also known as hash map , this fundamental data structure in computer science , this store the data in the form of key or value pair
        dict() data type is a direct or highly optimize implementation of a hash table when we create a dictionary we working with hashh table dict() are also strore the data in key or value form

q.no.9) Can lists contain different data types in Python?

        -> yes , list are contain diffrent type of data type , this is most powerful and flexible feature.

q.no.10) Explain why strings are immutable in Python ?

        -> In python striing are immutable , that ensure once we create a string , its value will remain the same . these predictability makes code easier
        as based on security this most sutaible for sensitive data like password , file path .

q.no.11) What advantages do dictionaries offer over lists for certain tasks ?

        -> distionaries offer several advantages for certain task , meally due to their key-value pair and hash table implementation
        and the advantages is -:
        1) average time complexity
        2) list of specific items
        3) meaning ful data management
        4) flexible data structure
        5) easy data access and modify

q.no.12) Describe a scenario where using a tuple would be preferable over a list

        -> In python tuple are immutible , means after its creation we cannot modify element in tuples,so tuple are preferable over a list is when we need to represent a fixed collection of related items that should not change
        example :a geographial points , store a performance of a company , banking (immutable) data

q.no.13) How do sets handle duplicate values in Python ?

        -> sets in python handle the duplicate value automatically eliminating themself , if user are entre duplicate value in a set , set are ignor that value and show unique element

q.no.14) How does the “in” keyword work differently for lists and dictionaries ?

        ->In python "in" keyword is used for testing , but its  differs between list and dictionaies
        "in" with list - for list "in" kwyword cheaks the presence of that particular value , its helps in search a specific value
        "in" with dict - for dict,"in" keyword cheak presence of "key" in dict

q.no.15) Can you modify the elements of a tuple? Explain why or why not

          -> no, we cannot modify the element of tuple , tuple are immutable data type in python after it has been crated we cananot change its element
          if we try to modify its element python raise typeerror

q.no.16)What is a nested dictionary, and give an example of its use case ?

          -> a nested dictionary have some values are themselves dictionary , means a main dictionary have sub dictoonary

          its use in - school , banks, customers details

q.no.17) Describe the time complexity of accessing elements in a dictionary ?

        -> the time complexity of accending elements in a dict - O(1)

q.no.18) In what situations are lists preferred over dictionaries ?

          -> list are more preferreable in when order of element are matter , when we need numarical index,when we performsome operation on list ,when store duplicate value.

q.no.19) Why are dictionaries considered unordered, and how does that affect data retrieval ?

        -> dictionaries are unordered because, hash table implementation (this store the value in key:value format) , no indexing  (element are not access by numarical index )

        this affect data retrival - , if you iterated over a dictionary, the order of elements you received could seem arbitrary and might even vary between different runs of the same program or different Python implementations. This meant you could not rely on the order of items

q.no.20) Explain the difference between a list and a dictionary in terms of data retrieval.

        -> LIST- *in list we retrival by its indexing position
        that means list are stor the data in ordered and also
        we perform the slicing method

        DICTIONARY - in dict() we reteiv the data by accociation (key)
        in dict.  has unique key we provide that key which value we want that key acts as an identifier for the value

#Practical Questions

q.no.1) Write a code to create a string with your name and print it

In [ ]:
name="muskan sharma"
print(name)

muskan sharma

q.no.2) Write a code to find the length of the string "Hello World"

In [ ]:
x="hello world"
print(len(x))

11

q.no.3)Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
y="python programming"
print(y[0:3])

pyt

q.no.4)Write a code to convert the string "hello" to uppercase

In [ ]:
a="hello"
b=a.upper()
print(b)

HELLO

q.no.5)Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
B="i like apple"
b=B.replace("apple","orenge")
print(B)
print(b)

i like apple
i like orenge

q.no.6) Write a code to create a list with numbers 1 to 5 and print it

In [ ]:
num=[1,2,3,4,5]
print(num)

[1, 2, 3, 4, 5]

q.no.7)Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:
num1=list(range(1,5))
num1.append(10)
print(num1)

[1, 2, 3, 4, 10]

q.no.8)Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
num2=list(range(1,6))
print(num2)
num2.remove(3)
print(num2)

[1, 2, 3, 4, 5]
[1, 2, 4, 5]

q.no.9)Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
ab=['a','b','c','d']
print(ab[1])

b

q.no.10)Write a code to reverse the list [10, 20, 30, 40, 50]

In [ ]:
num3=[10,20,30,40,50]
print(num3)
num3.reverse()
print(num3)

[10, 20, 30, 40, 50]
[50, 40, 30, 20, 10]

q.no.11)Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
tup=(100,200,300)
print(tup)

(100, 200, 300)

q.no.12)Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
tup1=('red','green','blue','yellow')
print(tup1[-2])

blue

q.no.13) Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
num4=(10,20,5,15)
print(min(num4))

5

q.no.14) Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
tup2=('dog','cat','rabbit')
print(tup2.index('cat'))

1

q.no.15)Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [ ]:
tup5=('apple','banana','kiwi')
print('kiwi' in tup5)

True

q.no.16)Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
a={'a','b','c'}
print(a)

{'b', 'a', 'c'}

q.no.17) Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [2]:
num4={1,2,3,4,5}
print(num4)
num4.clear()
print(num4)

{1, 2, 3, 4, 5}
set()

q.no.18)  Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [3]:
num5={1,2,3,4}
print(num5)
num5.remove(4)
print(num5)

{1, 2, 3, 4}
{1, 2, 3}

q.no.19) Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [4]:
set1={1,2,3}
set2={3,4,5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

q.no.20) Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [5]:
set3={1,2,3}
set4={2,3,4}
print(set3.intersection(set4))

{2, 3}

q.no.21) Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [10]:
AB= {
     "name":"muskan",
     "age":20,
     "city":"delhi"
    }
print(AB)

{'name': 'muskan', 'age': 20, 'city': 'delhi'}

q.no.22) Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [11]:
AB= {
     "name":"john",
     "age":25,
    }
print(AB)
AB["country"]="USA"
print(AB)

{'name': 'john', 'age': 25}
{'name': 'john', 'age': 25, 'country': 'USA'}

q.no.23)  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [12]:
AB= {
     "name":"alice",
     "age":30,
    }
print(AB["name"])

alice

q.no.24)Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [13]:
AB={'name': 'Bob', 'age': 22, 'city': 'New York'}
print(AB)
del AB["age"]
print(AB)

{'name': 'Bob', 'age': 22, 'city': 'New York'}
{'name': 'Bob', 'city': 'New York'}

q.no.25) Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [14]:
Ab={'name': 'Alice', 'city': 'Paris'}
print("city" in Ab)

True

q.no.26) Write a code to create a list, a tuple, and a dictionary, and print them all.

In [15]:
AB=list(range(1,6))
print(AB)
ab=(1,2,3,4,5)
print(ab)
Ab={
    "name":"muskan",
    "age":20,
    }
print(Ab)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'muskan', 'age': 20}

q.no.27)Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [16]:
import random
list1=random.sample(range(1,101),5)
print(list1)
list1.sort()
print(list1)

[97, 13, 51, 96, 55]
[13, 51, 55, 96, 97]

q.no.28) Write a code to create a list with strings and print the element at the third index.

In [20]:
list2 =["apple","banana","kiwi","graps"]
print(list2[3])

graps

q.no.29)Write a code to combine two dictionaries into one and print the result.

In [22]:
num1={
    "name":"muskan",
    "age":20,
}
num2={
    "city":"delhi",
    "country":"india",
}
print(num1)
print(num2)
num1.update(num2)
print(num1)

{'name': 'muskan', 'age': 20}
{'city': 'delhi', 'country': 'india'}
{'name': 'muskan', 'age': 20, 'city': 'delhi', 'country': 'india'}

q.no.30)Write a code to convert a list of strings into a set.

In [23]:
str1=["mango","apple","kiwi","graps"]
print(str1)
str2=set(str1)
print(str2)

['mango', 'apple', 'kiwi', 'graps']
{'apple', 'graps', 'kiwi', 'mango'}